[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
autosub = "*"
pyqt5 = "==5.15.4"
pyinstaller = "*"
macholib = "*"
cachetools = "==4.2.4"
certifi = "==2021.10.8"
chardet = "==4.0.0"
charset-normalizer = "==2.0.6"
google-api-core = "==2.1.0"
google-api-python-client = "==2.24.0"
google-auth = "==2.3.0"
google-auth-httplib2 = "==0.1.0"
google-auth-oauthlib = "==0.4.6"
googleapis-common-protos = "==1.53.0"
httplib2 = "==0.20.1"
idna = "==3.2"
oauthlib = "==3.1.1"
progressbar = "==2.5"
protobuf = "==3.18.1"
pyasn1 = "==0.4.8"
pyasn1-modules = "==0.2.8"
pyparsing = "==2.4.7"
pyqt5-qt5 = "==5.15.2"
pyqt5-sip = "==12.9.0"
pysrt = "==1.1.2"
requests = "==2.26.0"
requests-oauthlib = "==1.3.0"
rsa = "==4.7.2"
six = "==1.16.0"
uritemplate = "==3.0.1"
urllib3 = "==1.26.7"
nuitka = "*"
orderedset = "*"
zstandard = "*"

[dev-packages]

[requires]
python_version = "3.8"
